<!-- nav bar -->


<nav class="navbar navbar-expand-sm navbar-light bg-light " >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item"  >
                    <a routerLink="home" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="register" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Register</a>
                </li>
                <li class="nav-item">
                    <a routerLink="login" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="aboutus" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Aboutus</a>
                </li>
                <li class="nav-item">
                    <a routerLink="technologies" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Technologies</a>
                </li>

                <li class="nav-item">
                    <a routerLink="users" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Users</a>
                </li>

                <li class="nav-item">
                    <a routerLink="test" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Test</a>
                </li>

                <li class="nav-item">
                    <a routerLink="test2" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Test2</a>
                </li>
            </ul>
          
        </div>
    </div>
</nav>



<div class="container selectedcomponents" >
    <router-outlet></router-outlet>
</div>



<app-footer ></app-footer> 